.faqs-wrapper {
  width: 55%;
  padding: 5rem 0;
}

.faqs-top {
  width: 100%;
  height: 35dvh;
  background-image: url("../../../../assets/images/site-info/faqs-cover-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.faqs-bottom {
  background-color: var(--bs-gray-200);
}

.faq-row {
  border-bottom: 2px solid var(--bs-dark);
}

.question-row {
  padding: 0.8rem 0;
  cursor: pointer;
}

.question-row::after {
  content: "\002B";
  font-size: 2em;
  margin-right: 1rem;
}

.question-row.question-active::after {
  content: "\2212";
}

.question-row p {
  font-size: 1.3em;
}

.answer-block {
  padding: 0;
  max-height: 0;
  transition: max-height var(--transition) ease-in-out;
}

.answer-block p {
  font-size: 1.1em;
  letter-spacing: 0.3px;
}
