.faqs-wrapper {
  width: 55%;
  padding: 5rem 0;
}

.faqs-top h2 {
  font-size: 7em;
}

.faqs-top p {
  color: var(--bs-gray-600);
  font-size: 1.1em;
}

.faqs-bottom {
  background-color: var(--bs-gray-200);
}

.faq-row {
  border-bottom: 2px solid var(--bs-dark);
}

.question-row {
  padding: 0.8rem 0;
  cursor: pointer;
}

.question-row::after {
  content: "\002B";
  font-size: 2em;
  margin-right: 1rem;
}

.question-row.question-active::after {
  content: "\2212";
}

.question-row p {
  font-size: 1.3em;
}

.answer-block {
  padding: 0;
  max-height: 0;
  transition: max-height var(--transition) ease-in-out;
}

.answer-block p {
  font-size: 1.1em;
  letter-spacing: 0.3px;
}
