<section
  id="category-showcase"
  style="background-color: var(--bs-primary-bg-subtle)"
>
  <div class="container">
    <h2>Pick your <span class="green-text">Category</span></h2>
    <hr class="section-title" />

    <p-carousel
      [value]="categoriesAndMealTypes"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-category pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        >
          <div class="mb-3">
            <a href="#">
              <img
                [src]="getImagePath(category)"
                [alt]="category.name"
                width="200"
                height="200"
                class="rounded-2 shadow"
              />
            </a>
          </div>
          <div>
            <h4 class="mb-1">{{ category.name }}</h4>
            <p class="mt-0 mb-3">{{ category.description }}</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
