<section id="cover" class="p-0">
  <carousel [isAnimated]="true">
    <slide>
      <img
        src="../../assets/images/site-info/cover_1.jpg"
        alt="Vibrant assortment of vegetables, nuts, fruits, and a cookbook in the background"
        style="display: block; width: 100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="fw-bolder">
          Embark on a Culinary Adventure with DishDiscovery
        </h2>
        <p class="mt-3">
          Explore the endless possibilities of culinary creativity with
          DishDiscovery. From savory soups to decadent desserts, our recipe
          showcase is your gateway to a world of delicious flavors and culinary
          inspiration.
        </p>
      </div>
    </slide>
    <slide>
      <img
        src="../../assets/images/site-info/cover_2.jpg"
        alt="A person mixing vegetables and creating a salad in a bowl"
        style="display: block; width: 100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="fw-bolder">
          Fresh, Fast, and Fabulous: Find Your Next Favorite Recipe
        </h2>
        <p class="mt-3">
          Dive into the world of quick and healthy cooking with DishDiscovery.
          Whether you're a novice chef or a seasoned pro, our recipe showcase
          offers a treasure trove of mouthwatering dishes that are easy to make
          and impossible to resist.
        </p>
      </div>
    </slide>
    <slide>
      <img
        src="../../assets/images/site-info/cover_3.jpg"
        alt="A person slicing tomatoes and cucumbers with focus and precision"
        style="display: block; width: 100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="fw-bolder">
          From Prep to Plate: Elevate Your Cooking Experience
        </h2>
        <p class="mt-3">
          Elevate your culinary skills and impress your taste buds with
          DishDiscovery. Discover the art of precision slicing and master the
          techniques that turn ordinary ingredients into extraordinary meals.
          With our recipe showcase, every dish is a masterpiece waiting to be
          created.
        </p>
      </div>
    </slide>
  </carousel>
</section>
<section id="about-us-section" class="container">
  <h2>About <span class="green-text">us</span></h2>
  <hr class="section-title" />

  <div class="about-us-section-info mt-5 px-3">
    <p>
      Welcome to <span class="green-text">DishDiscovery</span>, where culinary
      exploration meets creativity.
    </p>
    <p>
      Our mission is to inspire and empower food lovers to discover new flavors,
      expand their culinary horizons, and create unforgettable dining
      experiences.
    </p>
    <p>
      At <span class="green-text">DishDiscovery</span>, we're passionate about
      the art of cooking and the joy it brings to people's lives. From
      tried-and-true family recipes to innovative culinary creations, our
      platform offers a diverse array of dishes to satisfy every palate and
      occasion.
    </p>
    <p>
      What sets us apart is our dedication to quality and diversity. From
      classic comfort foods to exotic cuisines, our curated selection ensures
      there's something for everyone. We pride ourselves on fostering a vibrant
      community where food lovers can connect, exchange ideas, and inspire one
      another.
    </p>
    <p>
      Join us on this culinary adventure and unlock a world of flavors right at
      your fingertips.
      <a href="#">Start exploring today!</a>
    </p>
    <button type="button" class="btn btn-secondary mt-3" routerLink="/about-us">
      More About Us
    </button>
    <div class="about-us-section-img-holder about-us-section-img-1 text-end">
      <img
        src="../../assets/images/site-info/about-us-section_1.jpg"
        alt="A mouth-watering plate of gourmet cuisine with vibrant colors and enticing presentation."
      />
    </div>
    <div class="about-us-section-img-holder about-us-section-img-2 text-end">
      <img
        src="../../assets/images/site-info/about-us-section_2.jpg"
        alt="A group of friends enjoying refreshing cocktails and indulging in delicious burgers at a lively restaurant."
      />
    </div>
  </div>
</section>

<app-category-showcase></app-category-showcase>
