<section class="section-pad-top pb-0" id="about-us">
  <div class="about-us-cover">
    <div class="about-us-wrapper">
      <h2 class="px-3">About Us</h2>
    </div>
  </div>
  <hr class="thick" />
  <div class="about-us-wrapper d-flex align-items-center">
    <div class="about-us-img-holder">
      <img
        src="../../../assets/images/site-info/abolut-us-page-section.jpg"
        alt="Woman taking a spaghetti with fork"
      />
    </div>
    <div class="about-us-info-right">
      <h3>
        Welcome to <span class="green-text">DishDiscovery</span> - Your Gateway
        to Culinary Delights!
      </h3>
      <p>
        At <span class="green-text">DishDiscovery</span>, we're more than just a
        recipe website. We're a passionate community of food enthusiasts, chefs,
        and culinary adventurers dedicated to sharing our love for great food
        and memorable dining experiences.
      </p>

      <h4>Our Journey:</h4>
      <p>
        <span class="green-text">DishDiscovery</span> began with a simple idea:
        to create a platform where food lovers could come together to explore,
        learn, and create delicious dishes.
      </p>

      <h4>Our Values:</h4>
      <p>
        Quality, diversity, and community are at the heart of
        <span class="green-text">DishDiscovery</span>. We curate diverse recipes
        that celebrate global cuisines while maintaining a commitment to quality
        ingredients.
      </p>

      <h4>Meet the Team:</h4>
      <p>
        Behind <span class="green-text">DishDiscovery</span> is a team of
        passionate individuals dedicated to creating a welcoming space for
        culinary enthusiasts. From chefs to content creators, each member plays
        a vital role.
      </p>

      <h4>Our Promise:</h4>
      <p>
        Join <span class="green-text">DishDiscovery</span> for a culinary
        adventure filled with endless possibilities. Whether you're a seasoned
        cook or a beginner, we're here to support you as you explore new
        flavors, techniques, and cuisines.
      </p>

      <h4>Join Us:</h4>
      <p>
        Ready to embark on your culinary journey?
        <a href="#">Join DishDiscovery</a> and unlock a world of flavors,
        creativity, and connection. Let's discover the joy of cooking together.
      </p>
    </div>
  </div>

  <div class="site-stats-app-section">
    <app-site-stats></app-site-stats>
  </div>

  <div class="testimonial-app-section">
    <app-testimonials></app-testimonials>
  </div>
</section>
