/* You can add global styles to this file, and also import other style files */
/* Main APP */
:root {
  --light-green: rgb(86, 204, 157);
  --light-red: rgb(243, 150, 154);

  /* APPLICATION */
  --transition: 0.3s;
  --box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bs-gray-600);
}

/* SECTIONS */
section.section-pad-top {
  padding-top: 7dvh;
}

section {
  padding: 4rem 0;
}

section h2 {
  text-align: center;
  text-transform: capitalize;
}

/* HR */
hr.section-title {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--light-red),
    rgba(0, 0, 0, 0)
  );
  width: 50%;
  margin: 0 auto;
}

hr.thick {
  margin: 0;
  height: 12px;
  border: 0;
  background-color: var(--light-green);
}

/* TEXT */
.green-text {
  color: var(--light-green);
}

.red-text {
  color: var(--light-red);
}

/* LSIT */
ol,
ul {
  padding-left: 0rem;
}

/* ANIMATIONS */
.hidden-scale-in {
  opacity: 0;
  transform: scale(0);
  transition: all var(--transition);
}

.show-scale-in {
  opacity: 1;
  transform: scale(1);
}

/* SITE INFORMATION / SOCIAL MEDIA */
.social-media-block {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: var(--bs-border-radius);
  transition: all ease-in-out var(--transition);
}

.social-media-block a {
  text-decoration: none;
}

.social-media-block i {
  color: var(--bs-white);
}

.social-media-block:hover i {
  color: var(--bs-gray-300);
}

.social-media-block:hover {
  box-shadow: var(--box-shadow);
}

.social-media-block:nth-child(1) {
  background-color: #1877f2;
}
.social-media-block:nth-child(2) {
  background-color: #1da1f2;
}
.social-media-block:nth-child(3) {
  background: linear-gradient(to bottom left, #833ab4, #c13584, #fbb231);
}
.social-media-block:nth-child(4) {
  background-color: #e60023;
}

/* MODALS */
.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 9999;
  background-color: white;
  padding: 2rem;
}

.modal-wrapper h2 {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}

/* FORM X MARK */
.form-holder {
  position: relative;
}

.close-mark {
  position: absolute;
  top: -2.3rem;
  right: -1.3rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-mark-modal-form i {
  font-size: 1.25rem;
  color: var(--white);
}

.close-mark-modal-form:hover {
  background-color: var(--dark-red);
}
